# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.egg-info/
*.log
env/
venv/
.env

# Home Assistant / Add-on
data/
options.json
*.db
*.sqlite

# VSCode / IDE
.vscode/
.idea/

# System
.DS_Store
Thumbs.db
